// Custom styles.
body {
    background-image: url(https://rogerdtz.github.io/assets/images/background.jpg);
    background-size: 101%;
    background-attachment: fixed;
    opacity: 0.95
}

.footer {
    font-size: 15px;
    color: #555;
}

.back-to-top {
    border-radius: 20px;
    background: #fff;
    color: #000;
}

h1 {
    line-height: 2.5;
}

.copyright {
    background-color: white;
    border-radius: 7px;
}

.posts-expand .post-title-link {
    font-size: 130%
}
