// Custom styles.
body {
    background-image: url(/images/background.jpg);
    background-size: 101%;
    background-attachment: fixed;
    opacity: 0.95
    width: 100%
}

.footer {
    font-size: 14px;
    color: #ffffff;
    margin-top: 15px;
    background-color: #1a1a1a
}

.footer-inner {
    width: 75% !important;
    padding-left: 0px !important;
}

.back-to-top {
    border-radius: 20px;
    background: #fff;
    color: #000;
}

h1 {
    line-height: 2.5;
}

.posts-expand .post-title-link {
    font-size: 130%
}

.post-body {
    padding: 10px
}

.post-block {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn:hover {
    border-color: #ff733c;
    color: #fff;
    background: #ff733c;
}

.sidebar a:hover {
    color: #ff733c;
    border-bottom-color: #ff733c;
}
